body,
html {
  height: 100vh;
}

/* Delete overflow x */
body {
  overflow-x: hidden;
}

/* Colors */
.green-bg-rama {
  background-color: #578233;
}

.green-text-rama {
  color: #578233 !important;
}

.light-grey-bg-rama {
  background-color: #f2f1f9;
}

.dark-grey-text-rama {
  color: #707070;
}

.light-green-rama {
  background-color: #88d17e;
}

/* Navbar styles */
.navbar {
  background-color: white;
}

.top-nav-collapse {
  background-color: #88d17e;
}

.top-nav-collapse a {
  color: white !important;
}

@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #88d17e;
  }
  .navbar a {
    color: white !important;
  }
}

.selected-navbar {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Intro Style */
.bg-intro {
  background-image: url("../img/main/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center, bottom;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 991px) {
  .bg-intro h1 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 1230px) {
  .bg-intro h1 {
    font-size: 2.2rem !important;
  }
}

/* Feature Style */
.btn-outline-more {
  border: 2px solid #578233 !important;
  color: #578233;
}

.btn-outline-more:hover {
  color: #578233;
}

/* Pipitos Style */
.bg-pipitos {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../img/main/friends.jpg");
  background-size: cover;
  background-position: top, top;
  background-repeat: no-repeat;
}

.section-pipitos {
  height: 50vh;
}

/* Contact Style */
.bg-contact {
  background-image: url("../img/main/bottom.png");
  background-size: cover;
  background-position: top, center;
  background-repeat: no-repeat;
}

.md-form.md-outline input[type="text"]:focus:not([readonly]),
.md-form.md-outline input[type="password"]:focus:not([readonly]),
.md-form.md-outline input[type="number"]:focus:not([readonly]),
.md-form.md-outline input[type="email"]:focus:not([readonly]),
.md-form.md-outline input[type="search"]:focus:not([readonly]),
.md-form.md-outline textarea[type="text"]:focus:not([readonly]),
.md-form.md-outline textarea[type="password"]:focus:not([readonly]),
.md-form.md-outline textarea[type="number"]:focus:not([readonly]),
.md-form.md-outline textarea[type="email"]:focus:not([readonly]),
.md-form.md-outline textarea[type="search"]:focus:not([readonly]) {
  border-bottom: 0px solid rgba(136, 209, 126, 0.8) !important;
  border-top: 1px solid rgba(136, 209, 126, 0.8) !important;
  border-right: 1px solid rgba(136, 209, 126, 0.8) !important;
  border-left: 1px solid rgba(136, 209, 126, 0.8) !important;
  box-shadow: 0 1px 0 0 rgba(136, 209, 126, 0.8) !important;
}

.active-rama-label.md-form label.active {
  color: #88D17E !important;
}

.active-rama-label.md-form i.active {
  color: #88D17E !important;
}

.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
