body,
html {
  height: 100vh;
}

/* Delete overflow x */
body {
  overflow-x: hidden;
}

/* Colors */
.green-bg-rama {
  background-color: #578233;
}

.green-text-rama {
  color: #578233 !important;
}

.light-grey-bg-rama {
  background-color: #f2f1f9;
}

.dark-grey-text-rama {
  color: #707070;
}

/* Navbar styles */
.navbar {
  background-color: white;
}

.top-nav-collapse {
  background-color: #88d17e;
}

.top-nav-collapse a {
  color: white !important;
}

@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #88d17e;
  }
  .navbar a {
    color: white !important;
  }
}

.selected-navbar {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Intro Style */

.bg-intro {
  background-image: url("../img/main/bg.png");
  background-size: cover;
  background-position: center, bottom;
  background-repeat: no-repeat, no-repeat;
}

@media only screen and (max-width: 991px) {
  .bg-intro h1 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 1230px) {
  .bg-intro h1 {
    font-size: 2.2rem !important;
  }
}

/* Feature Style */
.btn-outline-more {
  border: 2px solid #578233 !important;
  color: #578233;
}

.btn-outline-more:hover {
  color: #578233;
}

/* Pipitos Style */
.bg-pipitos {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../img/main/friends.jpg");
  background-size: cover;
  background-position: top, top;
  background-repeat: no-repeat, no-repeat;
}

.section-pipitos {
  height: 50vh;
}

.position-pipitos {
    margin-bottom: 0%;
  }

@media only screen and (max-width: 767px) {
  .section-pipitos {
    height: 110vh;
  }
  .position-pipitos {
    margin-bottom: 30%;
  }
}
